@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/fonts/Montserrat/static/Montserrat-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville Regular';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Wernicke';
    src: url('/fonts/Wernicke/WernickeSchwabacher.ttf') format('woff');
}